
@function prc($pxOne,$pxTwo){
  $result: math.div($pxOne,$pxTwo)*100%;
  @return $result
}

@function rem($px){
  $result: math.div($px,16)+rem;
  @return $result
}

@function em($px){
  $result: math.div($px,16)+em;
  @return $result
}

@mixin adaptiv-value($property,$startSize,$minSize,$type){
   $addSize:$startSize-$minSize;
   @if($type == 1){
      // Только если меньше контейнера
      #{$property}:$startSize + 'px';
      @media(max-width:#{$maxWidthContainer+px}){
         #{$property}:calc(#{$minSize+px}+#{$addSize}*((100vw-320px)/#{$maxWidth Container-320}));
      }
   }@else if$type ==2{|
      // Только если больше контейнера
      #{$property}:$startSize+px;
      @media(min-width:#{$maxWidth Container+px}){
         #{$property}:calc(#($minSize+px}+#{$addSize}*((100vw-320px)/#{$maxWidth-320}));
      }
   }@else{
      // Всегда
      #{$property}:calc(#{$minSize+px}+#{$addSize}*((100vw-320px)/#{$maxwidth-320}));
  }
}
//calc(20px+(50-20)((100vw 320px)(1200-320)));
