//To %
@function prc($pxOne,$pxTwo){
  $result: math.div($pxOne,$pxTwo)*100%;
  @return $result
}
//REM
@function rem($px){
  $result: math.div($px,16)+rem;
  @return $result
}
//EM
@function em($px){
  $result: math.div($px,16)+em;
  @return $result
}
//font-size:rem(42)


@function adapt($min,$max,$container){
  $result: calc($min+($max-$min)((100vw-320px)($container-320)));
  @return $result
}
//calc(20px+(50-20)((100vw 320px)(1200-320)));
