<!DOCTYPE html>
<html lang="en">
	@@include('html/head.html',{ "title":"References", "description":"",
	"keywords":"", "nameSite":"", })
	<body>
		<div class="wrapper">
			@@include('html/header.html')
			<section class="main-section main-section_big main-section_red">
				<div class="main-section__image ibg">
					<img
						src="@img/main-section-references.jpeg"
						alt=""
					/>
				</div>
				<div class="main-section__content">
					<div class="main-section__content-wrapper">
						<h2 class="main-section__title">References</h2>
					</div>
				</div>
			</section>

			<main
				class="main"
				id="app"
			>
				<div class="main__bg main__bg_references"></div>

				<section class="descr-block references__descr-block">
					<div class="container">
						<div class="descr-block__inner">
							<div class="breadcrumbs">
								<span
									>Home
									<svg
										width="6"
										height="9"
										viewBox="0 0 6 9"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M1 1L4.5 4.5L1 8"
											stroke="black"
											stroke-linecap="round"
										/>
									</svg>
								</span>
								<span>Contact</span>
							</div>
							<h2 class="title title_red descr-block__title">
								Our locations and contact details
							</h2>
							<p class="descr-block__text">
								A translation of a marketing or commercial text by one of our
								translators does exactly what it's supposed to do: win over your
								readers. We don't just translate a text word for word. Marketing
								translations require a fair amount of liberties to be taken in
								order to meet the needs and desires of your target audience
								abroad. While translating marketing texts, our translators may
								consult you about any cultural differences that need to be taken
								into account. As far as content goes, your translation will of
								course be identical to the source text, unless the briefing
								states otherwise. We are also experienced in providing
								<a href=""> SEO translations</a>.
							</p>
						</div>
					</div>
				</section>

				<section class="featured-cases references__featured-cases">
					<div class="container container_small">
						<h2 class="title title_red title_red_big featured-cases__title">
							Featured cases
						</h2>
						<ul class="featured-cases__list">
							<li
								v-for="item in featuredCases"
								class="featured-cases__elem"
							>
								<div class="featured-cases__img ibg">
									<img
										:src="'@img/' + item.img"
										alt=""
										class=""
									/>
								</div>

								<h4 class="title featured-cases__name">{{item.title}}</h4>
								<a
									:href="item.link"
									class="btn btn_tomato featured-cases__btn"
								>
									Show Case
								</a>
							</li>
						</ul>
					</div>
				</section>

				<section class="reviews references__reviews">
					<h2 class="title title_red title_red_big reviews__title">
						Featured cases
					</h2>
					<div class="swiper reviews__slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="reviews__slide">
									<p class="reviews__img">
										<img
											src="@img/reviewer.jpg"
											alt="Feedback Writer"
										/>
									</p>

									<p class="reviews__awesom">Awesome Client</p>
									<p class="reviews__text">
										This company is the best i’ve ever cooperate with! This
										company is the best i’ve ever cooperate with! This company
										is the best i’ve ever cooperate with! This company is the
										best i’ve ever cooperate with!
									</p>
									<p class="reviews__name">Richard</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="reviews__slide">
									<p class="reviews__img">
										<img
											src="@img/reviewer.jpg"
											alt="Feedback Writer"
										/>
									</p>

									<p class="reviews__awesom">Awesome Client</p>
									<p class="reviews__text">
										This company is the best i’ve ever cooperate with! This
										company is the best i’ve ever cooperate with! This company
										is the best i’ve ever cooperate with! This company is the
										best i’ve ever cooperate with!
									</p>
									<p class="reviews__name">Richard</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="reviews__slide">
									<p class="reviews__img">
										<img
											src="@img/reviewer.jpg"
											alt="Feedback Writer"
										/>
									</p>

									<p class="reviews__awesom">Awesome Client</p>
									<p class="reviews__text">
										This company is the best i’ve ever cooperate with! This
										company is the best i’ve ever cooperate with! This company
										is the best i’ve ever cooperate with! This company is the
										best i’ve ever cooperate with!
									</p>
									<p class="reviews__name">Richard</p>
								</div>
							</div>
						</div>
						<div class="reviews-pagination"></div>
					</div>
				</section>

				<section
					class="marketing-translation references__marketing-translation"
				>
					<div class="container container_small">
						<div class="marketing-translation__top">
							<h2
								class="title title_red title_red_big marketing-translation__title"
							>
								A convincing marketing translation
							</h2>
							<p class="marketing-translation__descr">
								By specializing in various areas of expertise and languages, we
								can take care of virtually every kind of translation, including
								medical information, complex legal texts, technical reports and
								marketing texts. Below you will find an overview of our
								references, sorted by industry.
							</p>
							<ul class="filter">
								<li class="filter__item">
									<button
										class="filter__btn"
										:class='{"filter__btn_active":marketingTranslationFilterAll}'
										@click="setmarketingTranslationFilterAll()"
									>
										All
									</button>
								</li>
								<li class="filter__item">Or</li>

								<li
									v-for="(item,index) in marketingTranslationFilter"
									class="filter__item"
								>
									<button
										class="filter__btn"
										:class='{"filter__btn_active":item.active}'
										@click="setmarketingTranslationFilter(index)"
									>
										{{item.title}}
									</button>
								</li>
							</ul>
						</div>
						<div class="marketing-translation__bottom">
							<ul class="marketing-translation__list">
								<li
									v-for="item in marketingTranslation"
									class="marketing-translation__item"
								>
									<a
										class="marketing-translation__link"
										:href="item.link"
									>
										<img
											:src="'@img/' + item.img"
											alt=""
										/>
									</a>
								</li>
							</ul>
						</div>

						<button class="btn btn_tomato discover-blog__btn">
							Show me more!
						</button>
					</div>
				</section>

				@@include('html/our-clients.html')
			</main>
			@@include('html/footer.html')
		</div>
	</body>
</html>
