@import "mains/fonts";
@import "mains/vars";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html{
  height: 100%;
}
body {
  position: relative;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  background: #fafafa;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main{
  padding-top: calc((600px + (2412 - 600) * ((100vw - 320px) / (1920 - 320))) - ((55px + (1513 - 55) * ((100vw - 320px) / (1920 - 320)))));

  @media screen and (max-width: 480px) {
    padding-top: 0;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  transition-timing-function: linear !important;
}

.ibg{

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

    img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    }
  }


.container{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper{
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

//++++++ BUTTONS ++++++++++++++++++++++++++++++++++++++++//

.btn {
  display: inline-block;
  line-height: 24px;
  letter-spacing: 0.0015em;
  border: 1px solid #212121;
  border-radius: 5px;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    color: #212121;
    background: transparent;
    border: 1px solid #212121;
  }

  &_blue {
    color: #fff;
    background: #101f42;
    border: 1px solid transparent;
  }

  &_tomato {
    color: #fff;
    background: #F24C4C;
    border: 1px solid transparent;

    &:hover {
      color: #F24C4C;
      background: transparent;
      border: 1px solid #F24C4C;
    }
  }
}

.btn-lang {
  position: relative;
  padding-right: 17px;
  line-height: 0;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 7px;
    background: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    content: "";
  }
}
//++++++++++++++++++++++++++++++++++++++++++++++//


//++++++ Header ++++++++++++++++++++++++++++++++++++++++//

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 991px) {
        padding: 20px 0;
    }
  }
}
.main-logo {
  max-width: 264px;
  @media screen and (max-width: 1230px) {
      max-width: 248px;
  }
  @media screen and (max-width: 480px) {
      max-width: 200px;
  }
}

.main-nav{
  @media screen and (max-width: 991px) {
    display: none;
  }
 &__list {
  display: flex;
  align-items: center;
  gap: 30px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  @media screen and (max-width: 1230px) {
      gap: 15px;
  }
 }
 &__elem {
  padding: 38px 0;

  &:hover a ~ .mega-menu {
    max-height: 100vh;
    border-top: 1px solid #f1f1f1;
  }
}
&__link--collapce {
  position: relative;
  padding-right: 17px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 7px;
    background: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    content: "";
  }
}
}


.mega-menu {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 998;
  max-height: 0;
  overflow: hidden;
  background: #fff;
  border-top: 0 solid transparent;
  transition: all 0.5s linear;

  &.open{
      max-height: 100vh;
      border-top: 1px solid #f1f1f1;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 36px 0 45px;

    @media screen and (max-width: 991px) {
        gap: 90px;
        justify-content: flex-end
    }
  }
  &__right{
    margin-right: 64px;
    margin-left: auto;

    @media screen and (max-width: 991px) {
        flex-basis: 100%;
        margin-right: 0;
    }
  }
  &__contact-btn{
    padding: 11px 38px;
    @media screen and (max-width: 991px) {
        text-align: center;
        border: 1px solid #fff;
    }
  }
}
.user-nav{

  @media screen and (max-width: 991px) {
      display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__btn{
    padding: 11px 34px;
    @media screen and (max-width: 1110px) {
        display: none;
    }
  }

  &__elem{
    &_lang {
      position: relative;
      margin-left: 15px;
    }
  }
}

.burger-btn {
  position: relative;
  display: none;
  width: 37px;
  height: 16px;

  @media screen and (max-width: 991px) {
      display: block;
  }

  & span{
    position: absolute;
    right: 0;
    display: block;
    width: 37px;
    height: 2px;
    background: #212121;
    border-radius: 36px;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      width: 30px;
      transform: translateY(-50%);
    }

    &:last-child {
      top: 100%;
      transform: translateY(-50%);
    }
  }

  &.open span{
    &:first-child {
      top: 50%;
      transform: translateY(-50%);
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      top: 50%;
      transform: translateY(-50%);
      transform: rotate(-45deg);
    }
  }

}

//++++++++++++++++++++++++++++++++++++++++++++++//


//++++++++ SERVICE ++++++++++++++++++++++++++++++++++++++//


.service {
  display: flex;
  flex-direction: column;

  &__header{
    display: flex;
  }
  &__icon{
    width: 43px;
    height: 43px;
    object-fit: contain;
  }
  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 21px;
    padding-left: 60px;
    color: #f24c4c;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 0.0015em;

    @media screen and (max-width: 991px) {
      padding-left: 0;
    }
  }
  & &__icon ~ &__title{
    padding-left: 0;
    margin-left: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 14px;
    padding-left: 60px;
    color: #a3a3a3;
  }

  &__elem{
    &:hover {
      color: #f24c4c;
    }
    &_all {
      margin-top: auto;
      color: #212121;

      @media screen and (max-width: 991px) {
          color: #fff;
      }
    }
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++//


//++++++++ Mobile Menu ++++++++++++++++++++++++++++++++++++++//

.mobile-menu {

  top: 100px;
  left: -200%;
  width: 0;
  min-height: 100vh;
  overflow-y: scroll;
  text-align: right;
  background: #101f42;

  @media screen and (max-width: 480px) {
      top: 90px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &.show {
    left: 0;
    right: 0;
    width: 100%;
    padding: 80px 20px 120px;
  }

}

//++++++++++++++++++++++++++++++++++++++++++++++//

//+++++++++ LANG LIST +++++++++++++++++++++++++++++++++++++//
.lang-list {
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  z-index: 998;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  transition: max-height 0.5s linear;

  &.show {
    max-height: 300px;
  }

  &__item {
    padding: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(204 204 204);
    }
  }
}
//++++++++++++++++++++++++++++++++++++++++++++++//


//+++++++++++ MAIN SECTION DOUBLE +++++++++++++++++++++++++++++++++++//



.main-section{
	position: absolute;
	display: flex;
	align-items: flex-end;
	top: calc((55px + (1513 - 55) * ((100vw - 320px) / (1920 - 320))) * -1);
	left: 50%;
	transform: translateX(-50%);
	background-color: #EC9B3B;
	width: calc(600px + (2412 - 600) * ((100vw - 320px) / (1920 - 320)));
	height: calc(600px + (2412 - 600) * ((100vw - 320px) / (1920 - 320)));
	border-radius: 50%;
	overflow: hidden;

  @media (max-width: 480px) {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
  }

  &__content {
    display: flex;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    height: calc(
      (600px + (2412 - 600) * ((100vw - 320px) / (1920 - 320))) -
        (55px + (1513 - 55) * ((100vw - 320px) / (1920 - 320))) - 150px
    );

    @media (max-width: 991px) {
        justify-content: center;
    }
  }

  &__left {
    width: 40%;
    padding-bottom: 68px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @media screen and (max-width: 480px) {
        font-size: 32px;
    }

  }

  &__description {
    margin-bottom: 26px;

    @media screen and (max-width: 991px) {
        display: none;
    }
  }

  &__contact {
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 1210px) {
        flex-direction: column;
    }
  }

  &__call {
    color: #1e61c7;
    font-size: 17px;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  &__right {
    position: relative;
    width: 50%;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1600px;

    @media screen and (max-width: 991px) {
        display: none;
    }

    & img {
      border-radius: 10px;
    }
  }


  &_double{
    .main-section__content{
      max-width: 50%;

      @media screen and (max-width: 991px) {
        max-width: 510px;
        align-items: center;
        text-align: center;
        height: calc(
          (600px + (2412 - 600) * ((100vw - 320px) / (1920 - 320))) -
            (55px + (1513 - 55) * ((100vw - 320px) / (1920 - 320)))
        );
      }
      @media screen and (max-width: 480px) {
        max-width: 360px;
        padding: 200px 0 80px 0;
      }
    }
    .main-section__image{
      background-position: left top;
      flex-basis: 50%;
      height: calc(
        (600px + (2412 - 600) * ((100vw - 320px) / (1920 - 320))) -
          (55px + (1513 - 55) * ((100vw - 320px) / (1920 - 320)))
      );
      @media screen and (max-width: 991px) {
        display: none;
    }
    }
    .main-section__right{
      padding-top:calc(40px + (200 - 100) * ((100vw - 991px) / (1920 - 991)));
     padding-left: calc(10px + (145 - 70) * ((100vw - 991px) / (1920 - 991)));
     @media screen and (max-width: 991px) {
      padding-top: 0;
      padding-left: 0;
      width: 100%;
     }
    }
  }
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

//++++++++++++ TITLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++//

    .title{
      margin: 0;
      color: #101F42;

      &_medium{
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
      }

      &_red{
        font-weight: 700;
        font-size: 33px;
        line-height: 50px;
        color: #F24C4C;

        @media screen and (max-width: 991px) {
            font-size: 25.5629px;
            line-height: 38px;
        }
        @media screen and (max-width: 480px) {
          font-size: 17px;
          line-height: 30px;
      }
      }
    }

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//



//++++++++++ CONTACT SECTION +++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

.contact-info{
  padding-top: 150px;
  @media screen and (max-width: 991px) {
    padding-top: 70px;
  }

}

.contact-section {

  &__wrapper {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 776px) {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
  }

  &__content {
    padding-right: 15px;
    padding-left: 80px;
    @media screen and (max-width: 776px) {
        padding: 0;
    }
  }

  &__title {
    margin-bottom: 25px;
  }
  &__subtitle {
    max-width: 379px;
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;

    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
  }
  &__address {
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 190.5%;

    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
  }
  &__grup {
    display: flex;
    gap: 33px;
    align-items: center;
    margin-bottom: 22px;
  }

  &__phone,
  &__email {
    cursor: pointer;
    color: #f24c4c;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;

    &:hover {
      color: #d31417;
    }

    @media screen and (max-width: 991px) {
        font-size: 15px;
        line-height: 23px;
    }
  }

  &__btn {
    padding: 16px 174px;
    margin-top: 30px;

    @media screen and (max-width: 991px) {
      width: 100%;
      padding: 16px 74px;
      text-align: center;
    }
  }
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

//++++++++++++ FULL PERSON +++++++++++++++++++++++++++++++++++++++++++++++++++++++//


.full-person {
  max-width: 381px;
  text-align: center;

  &__photo {
    margin: 0;
    margin-bottom: 44px;

    @media screen and (max-width: 991px) {
        margin-bottom: 20px;
    }

    & img{
      width: 320px;
      height: 320px;
      border-radius: 50%;

      @media screen and (max-width: 575px) {
          width: 258px;
          height: 258px;
          border-radius: 50%;
      }
    }

    &_elips{
      img{
        width: 295px;
        height: 345px;
        border-radius: 0 182.477px;

        @media screen and (max-width: 575px) {
            width: 258px;
            height: 258px;
            border-radius: 50%;
        }
      }
    }
  }

  &__text {
    position: relative;
    margin: 0;
    margin-bottom: 27px;
    padding: 0 65px;
    color: #101f42;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    @media screen and (max-width: 991px) {
        display: none;
    }

    &::after {
      position: absolute;
      top: -4px;
      left: 0;
      width: 38px;
      height: 33px;
      background: url("../img/left-quotes.svg");
      content: "";
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 38px;
      height: 33px;
      background: url("../img/right-quotes.svg");
      content: "";
    }
  }

  &__name {
    margin: 0;
    color: #212121;
    font-weight: 600;
    font-size: 41.472px;
    line-height: 62px;

    @media screen and (max-width: 991px) {
        font-size: 32px;
        line-height: 48px;
    }
  }

  &__position {
    margin: 0;
    color: #bebebe;
    font-weight: 700;
    font-size: 24.8832px;
    line-height: 37px;

    @media screen and (max-width: 991px) {
        font-size: 19px;
        line-height: 29px;
    }
  }
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

//+++++++++ BEADCRUMBS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

.breadcrumbs {
  margin-bottom: 10px;

  @media screen and (max-width: 991px) {
      display: none;
  }

  & span {
    padding-right: 10px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    & svg {
      margin-left: 10px;
    }

  }
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//


//+++++++++++ FOOTER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++//
.main-footer{
  margin-top: 150px;
  position: absolute;
  display: flex;
  left: 50%;
  width : 160vw;
  // width: calc(680px + (2322 - 680) * ((100vw - 320px) / (1920 - 320)));
  min-width: 2322px;
  height: calc(644px + (1017 - 644) * ((100vw - 320px) / (1920 - 320)));
  transform: translateX(-50%);
  background-color: #EC9B3B;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  top:calc(98%  - 663px);

  &__content {
    width: 100vw;
    padding: 0 80px;
    margin: 0 auto;

    @media (max-width: 991px) {
      justify-content: center;
    }

    &-wrapper{
      padding: 171px 20px 150px ;
      box-sizing: content-box;
      max-width: 1480px;
      margin: 0 auto;
      display: flex;
      gap: 100px 60px;
      flex-wrap: wrap;

      justify-content: center;



     }

 }


  &__col {
    flex-grow: 1;

    @media (max-width: 660px) {
      text-align: center;
    }

    &-title {
      margin: 0;
      margin-bottom: 21px;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    &_social{
      flex-direction: row;
      gap: 27px;
      @media (max-width: 660px) {
        justify-content: center;
      }
    }
  }

  &__link {
    display: inline-block;
    color: #ffd499;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;

    &:hover {
      color: #fff;
    }

    &_all {
      margin-top: 45px;
      color: #fff;
    }
  }

  &__social-link:hover svg path {
    fill: #ffd499;
  }
}


//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

//+++++++++ CITY ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//
.city {

  &_contact {
    padding-top: 150px;
  }

  &__title {
    text-align: center;
    max-width: 1167px;
    margin: 0 auto;
    margin-bottom: 84px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
  }

  &__elem {

    margin-bottom: 50px;
  }

  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  &__name {
    font-weight: 700;
    font-size: 37.8112px;
    line-height: 57px;
    color: #F24C4C;
    margin-bottom: 15px;

  }

  &__photo {
    padding: 0;
    margin: 0;

    img{
      width: 356px;
      height: 356px;
      border-radius: 50%;

      @media screen and (max-width: 480px) {
        width: 280px;
        height: 280px;
      }
    }

  }
}
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//

//+++++++++++ Contact Us ++++++++++++++++++++++++++++++++++++++++++++++++++++++++//


.contact-us {
  padding-top: 150px;

  @media screen and (max-width: 991px) {
    padding-top: 70px;
  }

  &__wrapper{
    position: relative;
    display: flex;
    align-items: center;


    @media screen and (max-width: 991px) {
      justify-content: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 66px;
    color: #212121;
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;

    @media screen and (max-width: 991px) {
        font-size: 55px;
        line-height: 82px;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 776px) {
        font-size: 40px;
        line-height: 62px;
    }

  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
    min-width: 563px;

    @media screen and (max-width: 991px) {
        min-width: auto;
        align-items: center;
        max-width: 532px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 125.5%;

    @media screen and (max-width: 991px) {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
  }

  &__input {
    width: 100%;
    max-width: 340px;
    padding: 12px 21px;
    font: inherit;
    font-weight: 400;
    background: transparent;
    border: 1px solid #323232;
    border-radius: 4px;

    @media screen and (max-width: 991px) {
        max-width: 532px;
    }
  }

  &__textarea {
    width: 100%;
    max-width: 340px;
    height: 146px;
    font: inherit;
    font-weight: 400;
    padding: 12px 21px;
    background: transparent;
    border: 1px solid #323232;
    border-radius: 4px;
    resize: none;

    @media screen and (max-width: 991px) {
        max-width: 532px;
    }
  }

  &__btn {
    padding: 13px 32px;
    align-self: flex-end;
    width: 100%;
    max-width: 340px;

    @media screen and (max-width: 991px) {
        align-self: center;
        max-width: 532px;
    }
  }
  &__photo{
    transform: translateX(35%);
    width: 952px;
    height: 952px;
    border-radius: 50%;
    border: 15px solid #F24C4C;
    padding: 65px;

    @media screen and (max-width: 1200px) {
      transform: translateX(10%);
    }

    @media screen and (max-width: 991px) {
      display: none;
    }

    img{
      width: 803px;
      height: 803px;
      border-radius: 50%;
    }
  }
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//
